<section class="panel panel-list">
            <div class="row">
            	<div class="col-sm-5 m-t-xs m-b-xs">
            	    <div class="clearfix">
	            	    <div class="inline pull-left m-r">
                            <span>选择等级：</span>
		            	    <div class="select filter" data-resize="auto">
		                        <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle">
		                            <span class="dropdown-label"></span> 
		                            <span class="caret"></span>
		                        </button>
		                        <ul class="dropdown-menu">
		                            <li data-value="all" data-selected="true"><a href="#">全部等级</a></li>
		                            {% for level in levels %}
		                            <li data-value="{{ level.id }}"><a href="#">{{ level.name }}</a></li>
		                            {% endfor %}
		                        </ul>
		                    </div>
	                    </div>
                        <div class="inline pull-left m-r">
                            <span>选择分类：</span>
                            <select id="select2-option" style="width:200px">
                                <optgroup label="默认分类">
                                    <option value="all">所有分类</option>
                                </optgroup>
                                {% for ptype in types.ptypes %}
                                <optgroup label="{{ ptype.name }}">
                                    {% for ctype in types.ctypes %}
                                    {% if ctype.parentpath == ptype.path %}
                                    <option value="{{ ctype.id }}">{{ ctype.name }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 m-b-xs">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm btn-white active"> 
                                <input btn-radio="currentStatus" name="status" type="radio" value="all" checked="true"> 全部 
                            </label>
                            <label class="btn btn-sm btn-white"> 
                                <input btn-radio="currentStatus" name="status" type="radio" value="0"> 草稿
                            </label> 
                            <label class="btn btn-sm btn-white"> 
                                <input btn-radio="currentStatus" name="status" type="radio" value="1"> 待审核
                            </label>
                            <label class="btn btn-sm btn-white"> 
                                <input btn-radio="currentStatus" name="status" type="radio" value="2"> 已发布
                            </label>
                        </div>
                    </div>
            </div>
        </section>