{% extends 'SiteAdminBundle::layout.html.twig' %}
{% block main %}
    <div class="row">
    	<div class="col-sm-12">{% include 'SiteLessonBundle:Admin:Lesson/filter.html.twig' %}</div>
    </div>
{% endblock %}