<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading"> 课程管理</header>
                <div class="row text-sm wrapper">
                    <div class="col-sm-5 m-t-xs m-b-xs">
                        <div class="clearfix">
                            <div class="inline pull-left m-r">
                                <div id="levelSelect" class="select btn-group m-b" data-resize="auto">
                                    <button type="button" data-toggle="dropdown"
                                            class="btn btn-white btn-sm dropdown-toggle"><span
                                            class="dropdown-label">所有级别</span> <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="setSel.setLevel('all')" data-value="all"><a no-link>所有级别</a></li>
                                        <li ng-click="setSel.setLevel(level)" data-value="{[{ level.id }]}" ng-repeat="level in levels">
                                            <a no-link>{[{ level.name }]}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="inline pull-left m-r">
                                <div id="typeSelect" class="select btn-group m-b" data-resize="auto">
                                    <button type="button" data-toggle="dropdown"
                                            class="btn btn-white btn-sm dropdown-toggle"><span
                                            class="dropdown-label">所有分类</span> <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="setSel.setType('all')" data-value="all"><a no-link>所有分类</a></li>
                                        <li ng-click="setSel.setType(type)" 
                                        data-value="{[{ type.id }]}" ng-repeat="type in types">
                                            <a no-link>{[{ type.name }]}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 m-b-xs">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm btn-white active"> 
                                <input btn-radio="currentStatus" name="status" type="radio" value="all" checked="true"> 全部 
                            </label>
                            <label class="btn btn-sm btn-white"> 
                                <input btn-radio="currentStatus" name="status" type="radio" value="0"> 草稿
                            </label> 
                            <label class="btn btn-sm btn-white"> 
                                <input btn-radio="currentStatus" name="status" type="radio" value="1"> 待审核
                            </label>
                            <label class="btn btn-sm btn-white"> 
                                <input btn-radio="currentStatus" name="status" type="radio" value="2"> 已发布
                            </label>
                        </div>
                    </div>
                                <div class="col-sm-3">
                                    <div class="input-group"><input type="text" class="input-sm form-control"
                                                                    placeholder="Search"> <span class="input-group-btn"> <button
                                            class="btn btn-sm btn-white" type="button">Go!
                                    </button> </span></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped b-t text-sm" style="text-align:center;">
                                    <thead>
                                    <tr>
                                        <th width="20" style="text-align:center;"><input type="checkbox"></th>
                                        <th style="text-align:center;">课程名称</th>
                                        <th style="text-align:center;">课程价格</th>
                                        <th style="text-align:center;">发布时间</th>
                                        <th style="text-align:center;">审核状态</th>
                                        <th style="text-align:center;">学习人数</th>
                                        <th style="text-align:center;">课程操作</th>
                                        <th width="30"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="lesson in lessons">
                                        <td><input type="checkbox" name="post[]" value="2"></td>
                                        <td>{[{ lesson.name }]}</td>
                                        <td>{[{ lesson.price }]} 元</td>
                                        <td>Jul 25, 2013</td>
                                        <td>
                                            <div class="btn-group" data-toggle="buttons">
                                                <label ng-click="statusChange(lesson,0)" class="btn btn-xs btn-info active">
                                                    <input type="radio" name="istatus" value="0"> 
                                                    <i class="icon-ok text-active"></i>草稿
                                                </label> 
                                                <label ng-click="statusChange(lesson,1)" lesson-status="lesson" class="btn btn-xs btn-success"> 
                                                    <input type="radio" name="istatus" value="1">
                                                    <i class="icon-ok text-active"></i>待审核 
                                                </label> 
                                                <label ng-click="statusChange(lesson,2)" class="btn btn-xs btn-primary">
                                                    <input type="radio" name="istatus" value="2">
                                                    <i class="icon-ok text-active"></i>已发布 
                                                </label>
                                            </div>
                                        </td>
                                        <td>{[{ lesson.learn }]} 人</td>
                                        <td>
                                            <a href="#" class="btn btn-white btn-xs"><i class="icon-html5"></i> 预览</a> 
                                            <a data-toggle="modal" data-target="#myModal" class="btn btn-info btn-xs"><i class="icon-css3"></i> 编辑</a>
                                            <a href="#" class="btn btn-info btn-xs"><i class="icon-css3"></i>删除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-4 hidden-xs"><select
                                            class="input-sm form-control input-s-sm inline">
                                        <option value="0">Bulk action</option>
                                        <option value="1">Delete selected</option>
                                        <option value="2">Bulk edit</option>
                                        <option value="3">Export</option>
                                    </select>
                                        <button class="btn btn-sm btn-white">Apply</button>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
                                    </div>
                                    <div class="col-sm-4 text-right text-center-xs">
                                        <ul class="pagination pagination-sm m-t-none m-b-none">
                                            <li><a href="#"><i class="icon-chevron-left"></i></a></li>
                                            <li ng-repeat="i in getPageCount(pageCount)">
                                                <a ui-sref="lesson({page:$index + 1,level:selectors.currentLevel.id})">
                                                    {[{ $index + 1 }]}
                                                </a>
                                            </li>
                                            <li><a href="#"><i class="icon-chevron-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </footer>
        </section>
    </div>
</div>
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->