@import "../../../../CoreBundle/Resources/public/vendor/bootstrap/less/bootstrap.less";
@import "app.v1.less";
@import "font.less";
@import "mixins.less";
#site-mask{
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9998;
    .background-color(#fff,60%);
    > .mask-in{
        position: absolute;
        width: 128px;
        height: 128px;
        top: 45%;
        left: 50%;
    }
}
#site-loader{
    position: absolute;
    margin-top: -64px;
    margin-left: -64px;
    .opacity(0.7);
    z-index: 9999;
}