<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">响应式导航</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{path('site_home_homepage')}}"><div id="logo"></div>极客编码</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      {% for navi in navigates %}
        {% if navi.router == true %}
          {% set link = path(navi.link) %}
        {% else %}
          {% set link = navi.link %}
        {% endif %}
        <li><a href="{{link}}" {% if navi.blank %} target="_blank" {% endif %}>{{navi.name}}</a></li>
      {% endfor %}
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group nav-search">
        <input type="search" class="form-control" placeholder="搜索课程">
        <i class="icon-search"></i>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% include 'SiteHomeBundle:Public:navUserMenu.html.twig' %}
      {% else %}
        <li><a class="navbar-login" href="javascript:void(0);">注册&&登录</a></li>
      {% endif %}
    </ul>
  </div>
</div>
</nav>