    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% javascripts filter='?uglifyjs2'
      '@SiteHomeBundle/Resources/public/js/modules/core/ajaxloader/siteloader.js' 
        output='js/compiled/loader.js'
    %}
      <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts
      filter='?requirejs'
      '@SiteHomeBundle/Resources/public/js/app.js'
        output="js/compiled/build.js"
    %}
      {{ require_js_initialize({ 'main' : asset_url}) }}
    {% endjavascripts %}