{% trans_default_domain 'FOSUserBundle' %}
<li class="dropdown">
    <a href="{{ path('site_member_default_index') }}" class="dropdown-toggle redirect_link" data-toggle="dropdown">
      <div class="navbar-user-img">
        <img src="{{ image(user.getUserimg).resize(40,40) }}" />
      </div>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a class="redirect_link" href="{{path('site_member_default_index')}}"><i class="icon-user"></i>用户首页</a></li>
      <li><a class="redirect_link" href="#"><i class="icon-envelope"></i>消息通知</a></li>
      <li><a class="redirect_link" href="{{ path('site_member_lesson_index') }}"><i class="icon-star"></i>课程收藏</a></li>
      <li><a class="redirect_link" href="#"><i class="icon-shopping-cart"></i>订单管理</a></li>
      <li><a class="redirect_link" href="#"><i class="icon-cog"></i>个人设置</a></li>
      {% if is_granted("ROLE_ADMIN") %}
        <li><a class="redirect_link" href="/admin"><i class="icon-desktop"></i>管理网站</a></li>
      {% endif %}
      <li class="divider"></li>
      <li>
        <a class="redirect_link" href="{{ path('fos_user_security_logout') }}">
          <i class="icon-signout"></i>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
      </li>
    </ul>
</li>