{% stylesheets filter='css_url_rewrite,?uglifycss'
    '@SiteCoreBundle/Resources/public/vendor/fancybox/source/jquery.fancybox.css'
    '@SiteCoreBundle/Resources/public/vendor/fancybox/source/helpers/jquery.fancybox-buttons.css'
    '@SiteCoreBundle/Resources/public/vendor/fancybox/source/helpers/jquery.fancybox-thumbs.css'
    '@SiteCoreBundle/Resources/public/vendor/Buttons/css/buttons.css'
    '@SiteCoreBundle/Resources/public/vendor/animate.css/animate.css'
    '@SiteCoreBundle/Resources/public/vendor/mediaelement/build/mediaelementplayer.css'
    '@SiteHomeBundle/Resources/public/css/main.css'
    output='css/compiled/all.css'
%}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
<!-- <link href='http://fonts.googleapis.com/css?family=Fauna+One|Acme|Cherry+Swash' rel='stylesheet' type='text/css'> -->
<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->
<!--[if lt IE 9]>
    <script src="/bundles/sitecore/vendor/html5shiv/dist/html5shiv.js"></script>
<![endif]-->
{% javascripts filter='?uglifyjs2'
      '@SiteCoreBundle/Resources/public/vendor/modernizr/modernizr.js'
    output='js/compiled/modernizr.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}