{% extends 'SiteHomeBundle::layout.html.twig' %}
{% block main %}
	<div class="container lesson-container" style="padding-top:10px;margin-bottom:-170px;" ng-init="init()">
	    <div class="lesson-container-loader"></div>
	    <div ui-view></div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}