<div class="row animated fadeIn">
    <div class="row">
        <div class="teacher-menu col-md-12 col-sm-12" ui-view="teacher-menu"></div>
    </div>
    <div class="row">
        <div class="col-md-10 col-sm-10 col-md-offset-1 col-offset-1 teacher-main">
            <div ui-view="teacher-content"></div>
        </div>
    </div>
</div>