{% macro attributes(attributes) %}
{% for name, value in attributes %}
    {%- if value is not none and value is not sameas(false) -%}
        {% if name != 'icon' and name != 'badge' and name != 'before' and 
        name != 'after' and name != 'append' and name != 'prepend'  %}
            {{- ' %s="%s"'|format(name, value is sameas(true) ? name|e : value|e)|raw -}}
        {% endif %}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}
{% block compressed_root %}
{% spaceless %}
{{ block('root') }}
{% endspaceless %}
{% endblock %}

{% block root %}
{% set listAttributes = item.childrenAttributes %}
{{ block('list') -}}
{% endblock %}

{% block list %}
{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
    <ul{{ _self.attributes(listAttributes) }}>
        {% if item.attribute('prepend') is not empty %}
            {{ item.attribute('prepend')|raw }}
        {% endif %}
        {{ block('children') }}
        {% if item.attribute('after') is not empty %}
            {{ item.attribute('after')|raw }}
        {% endif %}
    </ul>
{% endif %}
{% endblock %}

{% block children %}
{# save current variables #}
{% set currentOptions = options %}
{% set currentItem = item %}
{# update the depth for children #}
{% if options.depth is not none %}
{% set options = currentOptions|merge({'depth': currentOptions.depth - 1}) %}
{% endif %}
{% for item in currentItem.children %}
    {{ block('item') }}
{% endfor %}
{# restore current variables #}
{% set item = currentItem %}
{% set options = currentOptions %}
{% endblock %}

{% block item %}
{% if item.displayed %}
{# building the class of the item #}
    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
    {%- if item.current %}
        {%- set classes = classes|merge([options.currentClass]) %}
    {%- elseif item.currentAncestor %}
        {%- set classes = classes|merge([options.ancestorClass]) %}
    {%- endif %}
    {%- set attributes = item.attributes %}
    {%- if classes is not empty %}
        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- endif %}
{# displaying the item #}
    {% if item.attribute('before') is not empty %}
        {{ item.attribute('before')|raw }}
    {% endif %}
    <li{{ _self.attributes(attributes) }}>
        {% if item.attribute('prepend') is not empty %}
            {{ item.attribute('prepend')|raw }}
        {% endif %}
        {%- if item.uri is not empty and (not item.current or options.currentAsLink) %}
        {{ block('linkElement') }}
        {%- else %}
        {{ block('spanElement') }}
        {%- endif %}
{# render the list of children#}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
        {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
        {{ block('list') }}
        {% if item.attribute('append') is not empty %}
            {{ item.attribute('append')|raw }}
        {% endif %}
    </li>
    {% if item.attribute('after') is not empty %}
        {{ item.attribute('after')|raw }}
    {% endif %}
{% endif %}
{% endblock %}

{% block linkElement %}
    <a href="{{ item.uri }}"{{ _self.attributes(item.linkAttributes) }}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        class="dropdown-toggle" data-toggle="dropdown"
    {% endif %}
    >
    {% if item.attribute('badge') is not empty %}
        <b class="badge 
            {% if item.attribute('badge').type != null %} {{ item.attribute('badge').type }} {% endif %} pull-right"
        >{{ item.attribute('badge').number }}</b>
    {% endif %}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        <b class="badge bg-primary pull-right">{{ item.children|length }}</b>
    {% endif %}
    {% if item.attribute('icon') is not empty  %}<i class="icon-{{ item.attribute('icon') }}"></i> {% endif %}
    <span>{{ block('label') }}</span>
    </a>
{% endblock %}

{% block spanElement %}<span{{ _self.attributes(item.labelAttributes) }}>{{ block('label') }}</span>{% endblock %}

{% block label %}{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}{% endblock %}