header[role="welcome"]{
	width: 100%;
	height: @welcome-height;
	position:relative;
	#geekcoding > .background-image-cover("../img/welcome.jpg");
	.container{
		> .row{
			height: @welcome-height - @navbar-height;
		}
		h1{
		    margin-top: 20px;
		    font-size: ceil(@font-size-base*2 + 2);
		    line-height: 45px;
		    font-weight:normal;
		    text-rendering: optimizeLegibility;
		    display: none;
            text-shadow: rgba(18, 33, 46, 0.2) 0px 2px 0px;
            color: #fff;
            #geekcoding > .animation-delay(0.6s);
            #geekcoding > .animation-duration(0.8s);
		    & + p{
		    	color: #fff;
		    	font-size: @font-size-large;
		    	text-rendering: optimizeLegibility;
		    	line-height: 35px;
		    	display: none;
		    	text-shadow: rgba(18, 33, 46, 0.2) 0 1px 0px;
		    	#geekcoding > .animation-delay(0.6s);
		    	#geekcoding > .animation-duration(0.8s);
		    	@media (max-width: @screen-md) {
				    font-size: ceil(@font-size-base);
		        }
		    }
		    @media (max-width: @screen-md) {
				font-size: ceil(@font-size-base*1.5);
		    }
	    }
	    .center-btn{
		    height: 140px;
		    width: 140px;
		    margin: 0 auto;
		    position: relative;
		    > .button-wrap{
		    	top: -75px;
		    	position: absolute;
		    	&:hover {
				    #geekcoding > .rotateZ(360deg);
				    .transition(all 0.5s linear 0s);
			    }
			    .button{
					&:hover{
						text-decoration: none;
					}
				}
		    }
		}
		.loginform{
			margin-top: 20px;
			width: 80%;
			padding: 10px;
			float: right;
			background-color: rgba(0,0,0,0.5);
			display: none;
			#geekcoding > .animation-delay(1.2s);
		}
		.form-horizontal{
			width: 100%;
			margin-top: 10px;
			float: right;
			.form-control{
				height: ceil(@input-height-base*1.2);
				line-height: ceil(@line-height-base*1.2);
				border-radius: @border-radius-base;
				.opacity(0.8);
				margin-bottom: 5px;
				&:focus{
                	#geekcoding > .clear_placeholder();
                }
			}
			.btn{
				margin-top: 10px;
				padding: ceil(@padding-base-vertical*2) @padding-base-horizontal;
                border-radius: @border-radius-base;
			}
		}
	}
	@media (max-width: @screen-xs) {
		display: none;
	}
	@media (max-width: @screen-sm) {
		display: none;
	}
}

