
        <section class="vbox">
            <header class="dker nav-bar">
                <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="body"> 
                    <i class="icon-reorder"></i> 
                </a> 
                <a href="#" class="nav-brand" data-toggle="fullscreen">gcode</a>
                <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user"> 
                    <i class="icon-comment-alt"></i> 
                </a>
            </header>
            <section> <!-- user -->
                <div class="lter nav-user hidden-xs pos-rlt">
                    <div class="nav-avatar pos-rlt">
                        <a href="#" class="thumb-sm avatar animated rollIn" data-toggle="dropdown">
                            <img src="{{ image(user.getUserimg).resize(80,80) }}" />
                            <span class="caret caret-white"></span> 
                        </a>
                        {{ knp_menu_render('user',{'template': 'SiteAdminBundle:Public:user_menu.html.twig'}) }}
                        <div class="visible-xs m-t m-b"><a href="#" class="h3">John.Smith</a>

                        <p><i class="icon-map-marker"></i> London, UK</p></div>
                    </div>
                    <div class="nav-msg"><a href="#" class="dropdown-toggle" data-toggle="dropdown"> <b
                            class="badge badge-white count-n">2</b> </a>
                        <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                            <div class="arrow left"></div>
                            <section class="panel bg-white">
                                <header class="panel-heading"><strong>You have <span class="count-n">2</span>
                                    notifications</strong></header>
                                <div class="list-group"><a href="#" class="media list-group-item"> <span
                                        class="pull-left thumb-sm"> <img src="images/avatar.jpg" alt="John said"
                                                                         class="img-circle"> </span> <span
                                        class="media-body block m-b-none"> Use awesome animate.css<br> <small
                                        class="text-muted">28 Aug 13
                                </small> </span> </a> <a href="#" class="media list-group-item"> <span
                                        class="media-body block m-b-none"> 1.0 initial released<br> <small
                                        class="text-muted">27 Aug 13
                                </small> </span> </a></div>
                                <footer class="panel-footer text-sm"><a href="#" class="pull-right"><i
                                        class="icon-cog"></i></a> <a href="#">See all the notifications</a></footer>
                            </section>
                        </section>
                    </div>
                </div>
                <!-- / user --> <!-- nav -->
                {{ knp_menu_render('sidebar',{'template': 'SiteAdminBundle:Public:sidebar_menu.html.twig'}) }}
                </section>
        </section>