{% extends '::menu.html.twig' %}

{% block root %}
<nav class="nav-primary hidden-xs">
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        <ul class="nav">
            {{ block('children') }}
        </ul>
    {% endif %}
</nav>
{% endblock %}

{% block list %}
{% import '::menu.html.twig' as base_menu %}
{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
    <ul class="dropdown-menu"{{ base_menu.attributes(listAttributes) }}>
        {{ block('children') }}
    </ul>
{% endif %}
{% endblock %}

{% block item %}
{% if item.displayed %}
    {% import '::menu.html.twig' as base_menu %}
    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
    {%- set attributes = item.attributes %}
    {%- if classes is not empty %}
        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- endif %}
    <li
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        class="dropdown-submenu"
    {% endif %}
    {{ base_menu.attributes(attributes) }}
    >
        {%- if item.uri is not empty and (not item.current or options.currentAsLink) %}
        {{ block('linkElement') }}
        {%- else %}
        {{ block('spanElement') }}
        {%- endif %}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
        {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
        {{ block('list') }}
    </li>
{% endif %}
{% endblock %}
