{% stylesheets filter='css_url_rewrite,?uglifycss'
    '@SiteAdminBundle/Resources/public/css/main.css'
    output='css/compiled/all.css'
%}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}
<!--[if lt IE 9]>
    <script src="/bundles/siteadmin/js/ie/respond.min.js" cache="false"></script>
    <script src="/bundles/siteadmin/js/ie/html5.js" cache="false"></script>
    <script src="/bundles/siteadmin/js/ie/fix.js" cache="false"></script> 
<![endif]-->