{% extends '::menu.html.twig' %}
{% block root %}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        <ul class="dropdown-menu m-t-sm animated fadeInLeft">
            <span class="arrow top"></span>
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}