<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>极客编码---后台管理</title>
    <meta name="description"
          content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% block stylesheets %}
        {% include 'SiteAdminBundle:Public:stylesheets.html.twig' %}
    {% endblock %}
</head>
<body>
    <section class="hbox stretch"> <!-- .aside -->
        <aside class="bg-dark aside-sm nav-vertical" id="nav">{% include 'SiteAdminBundle:Public:sidebar.html.twig' %}</aside>
        <!-- /.aside --> <!-- .vbox -->
        <section id="content">
            <section class="vbox">
                <header class="header bg-white b-b">
                <p>
                    欢迎来到{% if title is not defined %}{{ app.session.get('title') }}{% else %}{{ title }}{% endif %}
                </p>
                </header>
                <section class="scrollable wrapper">
                    {% block main %}{% endblock %}
                </section>
            </section>
            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="body"></a>
        </section>
    </section>
    <div id="site-mask"><div class="mask-in"><div id="site-loader"></div></div></div>
    {% block javascripts %}
        {% include 'SiteAdminBundle:Public:javascripts.html.twig' %}
    {% endblock %}
    </body>
</html>

