            <div class="button-list">
				<a href="{{ path('hwi_oauth_service_redirect',{service:'github'}) }}" class="btn-gk-icon btn-gk-default btn-block">
					<i class="icon-github icon-2x"></i><span>使用Github账户登录</span>
				</a>
				<a href="#" class="btn-gk-icon btn-gk-primary btn-block" disabled="disabled">
					<i class="icon-google-plus icon-2x"></i><span>使用Google +登录</span>
				</a>
				<a href="#" class="btn-gk-icon btn-gk-danger btn-block">
					<i class="icon-weibo icon-2x"></i><span>使用新浪微博登录</span>
				</a>
			</div>