{% extends "SiteUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<div class="container">
    <div class="form-box">
        <h2>登录GeekCoding</h2>
	    {% include "SiteUserBundle:Security:login_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}