/* 按钮样式 */
@btn-default-gk-bg: #f5f5f5;
@btn-primary-gk-bg: #7797fe;
@btn-warning-gk-bg: #fff;
@btn-danger-gk-bg: #ea8856; 
@btn-success-gk-bg: #fff;
@btn-info-gk-bg: #fff;
//自定义渐变按钮
.btn-gk{
	.btn;
	border-radius: 0;
    background-clip: padding-box;
    text-shadow: none;
}
//带小图标按钮
.btn-gk-icon{
	.btn-gk;
	margin-bottom: 10px;
	font-size: @font-size-small * 1.1;
	padding: 0;
	i{
		float: left;
		padding: @padding-base-vertical*2 - (@font-size-large - @font-size-small)/4 10px;
		font-size: @font-size-large;
		display: block;
		& + span{
			border-left: solid 1px #ccc;
			padding-top: @padding-base-vertical*2;
		    padding-bottom: @padding-base-vertical*2;
			padding-left: 10px;
			margin-left: @font-size-large + 17px;
			text-align: left;
			display: block;
		}
	}
}
.btn-gk-default {
  #geekcoding > .button-variant(@btn-default-color; @btn-default-gk-bg; @btn-default-border);
}
.btn-gk-primary {
  #geekcoding > .button-variant(@btn-primary-color; @btn-primary-gk-bg; @btn-primary-border);
}
.btn-gk-warning {
  #geekcoding > .button-variant(@btn-warning-color; @btn-warning-gk-bg; @btn-warning-border);
}
.btn-gk-danger {
  #geekcoding > .button-variant(@btn-danger-color; @btn-danger-gk-bg; @btn-danger-border);
}
.btn-gk-success {
  #geekcoding > .button-variant(@btn-success-color; @btn-success-gk-bg; @btn-success-border);
}
.btn-gk-info {
  #geekcoding > .button-variant(@btn-info-color; @btn-info-gk-bg; @btn-info-border);
}

.flat-btn{
	.btn;
}
.flat-btn-default {
  .flat-button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}
.flat-btn-primary {
  .flat-button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}
// Warning appears as orange
.flat-btn-warning {
  .flat-button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
}
// Danger and error appear as red
.flat-btn-danger {
  .flat-button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
}
// Success appears as green
.flat-btn-success {
  .flat-button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
}
// Info appears as blue-green
.flat-btn-info {
  .flat-button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
}

.flat-btn-green {
  .flat-button-variant(@btn-success-color; #364; @btn-success-border);
}
.flat-btn-shadow{
	border: none;
	.box-shadow(0 0 3px 1px #fff);
}