.block {
    margin-top: 0;
    .block-title {
        margin-bottom: 20px;
        text-align: center;
        > h1 {
            width: auto;
            position:relative;
            line-height: 20px;
            font-size: 2em;
            font-weight: 300;
            color: #333333;
            text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
            text-rendering: optimizelegibility;
            display: inline;
            &:before, &:after {
                content:"";
                height: 0;
                width: 26%;
                padding: 0;
                position: relative;
                z-index: 1;
                border-top: solid 1px #ccc;
                border-bottom: solid 1px #fff;
                margin-top: 10px;
                overflow: hidden;
                display: inline;
            }
            &:before {
                float: left;
                margin-left: 4%;
            }
            &:after {
                float: right;
                margin-right: 4%;
            }
        }
        & + hr {
            position:relative;
            z-index: 1998;
        }
    }
    .block-content {
        margin-top: 20px;
    }
}
.form-box{
	width: 60%;
	margin-left: 20%;
	margin-bottom: 15px;
	text-align: center;
	> h2{
		margin:30px auto;
	}
}
.form-panel{
	margin: 0;
	border: none;
	#geekcoding > .animation-duration(2s);
	> .panel-heading{
		padding: 15px 15px;
		text-align: left;
		background-color: #363E45;
		color: #fff;
		border: solid 1px #363E45;
		> .panel-title{
			width: 100%;
			font-weight: 600;
			position: relative;
			> .panel-icon{
				position: absolute;
				right: 0;
			}
		}
	}
	> .panel-user-title{
		display: none;
	}
	> .panel-body{
		border-radius: 3px;
		border: 1px solid #ccc;
		padding: 0;
		> [class*="col-md-"]{
			padding: 10px 25px;
			> .page-header{
				text-align: left;
				margin-top: 0;
				margin-bottom: 10px;
				padding-bottom: 0;
				> h5{
					font-weight: 700;
					font-family: normal;
				}
			}
		}
		> .panel-body-right{
			#geekcoding > .background-color(#fafafa,100%);
				#geekcoding > .border-left(@color: #cdcdcd, @alpha: 0.8);
				border-radius: 0 3px 3px 0;
				@media (max-width: @screen-md) {
		            border: none;		        
		    }
		}
	}
	.alert-danger{
	    margin: 10px 0;
	    padding: 8px 10px;
	    text-align: left;
	    border-radius: 0;
	    border: solid 2px darken(@state-danger-bg,10%);
	}
	.form-horizontal{
		#fos_user_registration_form{
			padding: 0;
		}
		.form-group{
			font-size: @font-size-base;
			.input-group{
				> .input-group-addon{
					#geekcoding > .border-radius(0);
					> i{
						width: @font-size-base;
						height: 100%;
						display: block;
					}
				}
			}
			input{
				height: @input-height-base * 1.2;
				#geekcoding > .border-radius(0);
			}
			.form-link , .form-link-import{
				margin-top: 10px;
				display: block;
			}
			.form-link{
				color: #999;
				font-size: @font-size-small;
			}
			.form-link-import{
				color: #555;
				font-weight: 600;
				font-size: @font-size-base;

			}
		}
	}
	.form-noadd{
		.form-group{
			margin-top: 15px;
		}
	}
}
.anim-panel{
	transition:all .5s ease;
	&:hover,&:focus{
		margin-top: -2px;
		border:none;
		.box-shadow(@shadow: 0 0 2px 2px rgba(0,0,0,0.3));
		.panel-body{
		    border:none;
	    }
	}
}
.fancy-panel{
	border-radius: 5px;
	> .panel-user-title{
		display: block;
	}
	> .panel-body{
		border-bottom: none;
		border-radius: 0 0 3px 3px;
		> [class*="col-md-"]{
			&:first-child{
				border-radius: 0;
			}
			&:last-child{
				border-radius: 0 0 3px 0;
			}
		}
	}
}
.bindoauth-panel{
	display: none;
}