.subnav {
	width: 100%;
	margin-bottom: 10px;
	#geekcoding > .background-color(rgb(82, 103, 124),80%);
	margin-right: -2px; 
	padding-left: 4px;
	float: right;
	.border-radius(@radius: 4px);
	.box-shadow(@shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px 0px);
	.nav{
		margin-bottom: 0;
		> li{
		    > a{
				margin: 0;
				color: #fff;
				font-size: @font-size-base * 1.1;
				font-weight: 550;
				.border-radius(@radius: 0);
				.transition(all 0.25s ease);
				&:hover,
			    &:focus {
			    	color: rgb(26, 88, 56);
			        #geekcoding > .background-color(rgb(82, 103, 124),0);
			    }
		    }
		     &:first-child > a{
			    padding-left: 20px;
			}
			&:last-child > a{
				padding-right: 24px;
			}
		}
		> .active{
			>a,>a:hover{
				color: rgb(26, 88, 56);
			    #geekcoding > .background-color(rgb(82, 103, 124),0);
			}
		}
	}
}
.subnav-fixed{
	position: fixed;
	top: @navbar-height;
	left: 0;
	right: 0;
	z-index: 1020; 
	border-color: #d5d5d5;
    border-width: 0 0 1px; 
	.border-radius(@radius: 0);
	.box-shadow(@shadow:inset 0 1px 0 #fff);
	.box-shadow(@shadow:0 1px 5px rgba(0,0,0,.1));
}