// 基本
// -------------------------
@base-color: #aaa;
// 布局块
// -------------------------
@block-width: 100%;
@block-height: auto;
@block-margin: 0 auto;
@block-padding: 0;
@block-shadow: 0;
@block-radius: 0;
@welcome-height:280px;
@zindex-center-btn:1051;

// 边框
// -------------------------
@border-style:solid;
@border-width:1px;
@border-color:@base-color - #777;
@border-alpha:1;

// 背景
// -------------------------
@background-color: #fff;
@background-alpha: 0.6;

// 字体
// -------------------------

@font-family-sans-serif:  'helvetica neue',  'hiragino sans gb', 'stheiti', 'microsoft yahei',"WenQuanYi Micro Hei","\5FAE\8F6F\96C5\9ED1",tahoma,sans-serif;
@font-color: @base-color - #777;
@font-family: @font-family-sans-serif;
@text-decoration: none;
@font-size:@font-size-base;
@font-weight: normal; 
@text-decoration: none;
@link-hover-color: '';

//导航栏
// -------------------------
@navbar-default-bg:	#363E45;
@navbar-default-link-color: #9C98A3;
@navbar-default-link-hover-color: #C7CFD9;
@navbar-default-link-hover-bg: @navbar-default-bg;
@navbar-default-toggle-hover-bg: @navbar-default-link-hover-color;
@navbar-default-link-active-color: #fff;
@navbar-default-link-active-bg: @navbar-default-bg;
@nav-pills-active-link-hover-color: #fff;
@nav-pills-active-link-hover-bg: #3a3e4a;
@padding-base-vertical:4px;
@navbar-height:70px;
@nav-link-padding: 15px 12px;