
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="panel panel-default lessoninfo">
                    <div class="panel-body loader-container">
                        <div class="lesson-loader"></div>
                        <div class="info-show" ui-view="lesson-info" ng-switch on="datacomplete"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="panel panel-default lessoncate">
                    <div class="panel-heading">课程目录</div>
                    <div class="panel-body loader-container">
                        <div class="lesson-loader"></div>
                        <div class="chapter-list" ui-view="chapter-list" ng-switch on="datacomplete"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
            	<div class="panel panel-default">
				  <div class="panel-body">
				  </div>
				</div>
            </div>
        </div>