{% form_theme bindform with 'SiteUserBundle:Form:fields2.html.twig' %}
{% if binderrors %}
<div class="alert alert-danger">
<ul>
{% for error in  binderrors %}
    {% if error.message %}<li>{{ error.message }}!</li>{% else %}<li>{{ error['message'] }}!</li>{% endif %}
{% endfor %}
</ul>
</div>
{% endif %}
{{ form_start(bindform,{'action':path('site_user_homepage'),'attr':{'id':'oauthbind_form','class':'form-horizontal form-noadd','novalidate':''}}) }}
	{{form_row(bindform.username)}}
	{{form_row(bindform.plainPassword)}}
	<div class="form-group">
        <div class="col-md-12">
	        {{form_row(bindform.bind,{'attr':{'class':'button button-rounded button-flat-action pull-left'}})}}
	        <a class="form-link-import pull-right to_createoauth" href="javascript:void(0);">创建新账户</a>
	    </div>
	</div>
{{ form_end(bindform) }}