<ul class="nav nav-pills">
        <li class="active"><a href="{{ path('site_teacher_template_center') }}"><span>讲师中心</span></a></li>
        <li><a href="{{ path('site_teacher_template_plan') }}"><span>计划管理</span></a></li>
        <li><a href="{{ path('site_teacher_template_lesson') }}"><span>课程管理</span></a></li>
        <li><a href="{{ path('site_teacher_template_code') }}"><span>代码管理</span></a></li>
        <li><a href="#"><span>问答管理</span>{#<span class="badge pull-right">2</span>#}</a></li>
        <li><a href="#"><span>我的收入</span></a></li>
</ul>