            <div class="tabbable tabs-below">
              <div class="tab-content">
                <blockquote>
                  <div class="page-header">
                    <div class="row-fluid">
                      <div class="span12">
                        <h4>经典课程</h4>
                        <small>踏出成为极客的第一步!</small>
                      </div>
                    </div>
                  </div>
                </blockquote>
                  </div>
            </div>