<div class="pagination-center">
  <ul class="pagination pagination-lg">
    {% if page > 1 %}
        <li>
            {% set prevpage = path(lesson_route,{'index': index, 'page': page-1}) %}
            <a class="pagestep" href="{{ prevpage }}">上一页</a>
        </li>
    {% endif %}
    {% for i in 1..page_count %}
        <li {% if i == page %}class="active"{% endif %} >
            <a href="{{ path(lesson_route,{'index': index, 'page': i}) }}">
                {{ loop.index }}{% if i == page %}<span class="sr-only">(当前页)</span>{% endif %}
            </a>
        </li>
    {% endfor %}
    {% if page < page_count %}
        <li>
            {% set nextpage = path(lesson_route,{'index': index, 'page': page+1}) %}
            <a class="pagestep" href="{{ nextpage }}">下一页</a>
        </li>
    {% endif %}
  </ul>
</div>