<div class="chapter-container">
	<div class="chaptershow">
	            <div class="main">
	                <div id="video-wrapper">
		                <video width="640" height="360" style="width: 100%; height: 100%;" id="chapterplayer" controls="controls">
						    <source type="video/mp4" src="/uploads/videos/test/test.mp4" />
						    <source type="video/webm" src="/uploads/videos/test/test.webm" />
						    <source type="video/ogg" src="/uploads/videos/test/test.ogg" />
						</video>
					</div>  
	            </div>
	            <div class="sidebar">
	                <div class="chapter-listin"><span class="glyphicon glyphicon-forward"></span></div>
	            	<div class="chapter-option">
	            		<!-- <ul class="nav nav-tabs">
						  <li class="active"><a href="#">目录</a></li>
						  <li><a href="#">问答</a></li>
						  <li><a href="#">笔记</a></li>
						</ul>
						<div class="tab-body">
							
						</div> -->
	            	</div>
	            </div>
	</div>
</div>